@import '../config/variables';
@import "../config/functions";
@import "../config/mixins";
@import "../components/placeholders";

.container {
    width: calc(100vw - var(--scrollbar));
}

.header__image-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: calc(100vw - var(--scrollbar));

    @media screen and (min-width: map-get($breakpoints, large)) {
        width: 50vw;
    }
}

.header__cover {
    width: 900px;
    max-width: fit-content;
}

.header__title {
    margin-top: 0;
    padding-top: 4rem;
    padding-bottom: 0;
}

.header__description {
    margin-bottom: 0;
    padding-bottom: 4rem;
    line-height: 25px;
}

.section-1__wrap-1 {
    padding-top: 3em;  
    padding-bottom: 3em;
}

.header__title,
.section-1__title,
.section-2__title,
.section-3__title,
.section-4__title,
.section-5__title,
.section-6__title {
    margin-left: 1rem;
}

.section-2__text,
.section-1__text {
    margin: 1rem;
}

.header__wrap-1,
.section-1__wrap-1,
.section-2__wrap-1,
.section-3__wrap-1,
.section-4__wrap-1,
.section-5__wrap-1,
.section-6__wrap-1,
.footer__wrap-1 {
    @media screen and (min-width: map-get($breakpoints, large)) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px;
    }
}

.section-3__image-container-1,
.section-4__image-container-1,
.section-3__image-container-4,
.section-5__image-container-3 {
    grid-column: span 2;
}
.section-3__grid,
.section-4__grid,
.section-5__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
}

.header__description,
.section-1__text,
.section-2__text,
.section-3__text,
.section-3__subtitle,
.section-4__text,
.section-5__text,
.section-6__text {
    margin: 1rem;
}

.section-3__wrap-2,
.section-4__wrap-2 {
    padding-bottom: 6rem;
}

.section-6__buttons-content {
    padding: 2em;
    display: flex;
    justify-content: space-around;
}

.form__name,
.form__mail,
.form__textarea {
    padding: .7em;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 50px);
    gap: 1rem;
    margin: 1rem;
}

.form__textarea {
    grid-column: span 2;
    grid-row: span 3;
}

.form__submit {
    grid-row: 5;
    width: 170px;
    height: 52px;
    margin-bottom: 3rem;
}

.header,
.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
.footer {
    display: grid;
    
    @media screen and (min-width: map-get($breakpoints, large)) {
        grid-template-columns: repeat(2, calc(50vw - var(--scrollbar)));
        grid-template-rows: repeat(7, minmax(1fr, max-content));
    }
}

.header__wrap-1 {
    grid-row: span 1;
}


[class*="wrap-1"],
[class*="wrap-2"] {
    width: calc(100vw - var(--scrollbar));
    margin: 0;
    @media screen and (min-width: map-get($breakpoints, large)) {
        width: calc(50vw - var(--scrollbar))
    }
}

[class*="wrap-2"] {
    width: calc(100% - var(--scrollbar));
    margin-left: 1em;
    margin-right: 1em;
}

.header__wrap-2 {
    margin-left: 0;
    margin-right: 0;
}

.grid-image {
    height: 100%;
}

.footer {
    position: relative;
    @media screen and (min-width: map-get($breakpoints, large) ) {
        height: 150%;
    }
}


.footer__contact-section {
    padding: 1rem;

    @media screen and (min-width: map-get($breakpoints, large) ) {
        position: absolute;
        background-color: $background-color;
        width: calc(50vw - var(--scrollbar));
        padding-left: 3rem;
        top: 30px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.social-media {
    display: flex;
    list-style: none;
    padding-left: 0;
}


.social-media__item {
    margin-bottom: 3em;
}

.social-media__description {
    display: none;
}

.social-media__link::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
}

.contact {
    margin-bottom: 3rem;
}

.copyright {
    margin: 1rem;
}