- 
    let headerImage = {
        src: 'https://res.cloudinary.com/leonemil/image/upload/v1578232673/Paradigm%20shift/girl.jpg',
        alt: 'Imagen de una chica vestida de rosa mirando al horizonte sosteniendo la gorra que lleva puesta con una mano',
        class: 'header__cover',
    }

- 
    let secondImage = {
        src: 'https://res.cloudinary.com/leonemil/image/upload/v1578232678/Paradigm%20shift/walking-man.jpg',
        alt: 'Imagen de hombre con barba caminando en la vereda',
        class: 'grid-image',
    }
- 
    let thirdImage = {
        src:'https://res.cloudinary.com/leonemil/image/upload/v1578232669/Paradigm%20shift/blonde-girl.jpg',
        alt: 'Imagen de una chica rubia tapandose la cara',
        class: 'grid-image',
    }
- 
    let fourthImage = {
        src:'https://res.cloudinary.com/leonemil/image/upload/v1578232678/Paradigm%20shift/wolf.jpg',
        alt: 'Imagen de un lobo caminando en el campo',
        class: 'grid-image',
    }
- 
    let fifthImage = {
        src:'https://res.cloudinary.com/leonemil/image/upload/v1578232666/Paradigm%20shift/edification.jpg',
        alt: 'Imagen de un edificio',
        class: 'grid-image',
    }
- 
    let sixthImage = {
        src:'https://res.cloudinary.com/leonemil/image/upload/v1578232674/Paradigm%20shift/bicicle.jpg',
        alt: 'Imagen de una bicicleta plateada',
        class: 'grid-image',
    }
- 
    let seventhImage = {
        src:'https://res.cloudinary.com/leonemil/image/upload/v1578232667/Paradigm%20shift/apartaments.jpg',
        alt: 'Imagen de unos edificios de apartamentos de colores',
        class: 'grid-image',
    }
- 
    let eighthImage = {
        src:'https://res.cloudinary.com/leonemil/image/upload/v1578232669/Paradigm%20shift/hand.jpg',
        alt: 'Imagen de una mano sosteniendo una zapatilla',
        class: 'grid-image',
    }
- 
    let ninthImage = {
        src:'https://res.cloudinary.com/leonemil/image/upload/v1578232669/Paradigm%20shift/desktop-birds.jpg',
        alt: 'Imagen de un escritorio con cuadernos y lapices y unos pajaros volando alrededor',
        class: 'grid-image',
    }
- 
    let tenthImage = {
        src:'https://res.cloudinary.com/leonemil/image/upload/v1578232678/Paradigm%20shift/mountains.jpg',
        alt: 'Imagen de unas montañas de colores',
        class: 'grid-image',
    }
- 
    let eleventhImage = {
        src:'https://res.cloudinary.com/leonemil/image/upload/v1578232673/Paradigm%20shift/basket.jpg',
        alt: 'Imagen de personas jovenes jugando al basquet',
        class: 'grid-image',
    }
- 
    let twelfthImage = {
        src:'https://res.cloudinary.com/leonemil/image/upload/v1578232677/Paradigm%20shift/monument.jpg',
        alt: 'Imagen de un gran salon blanco dentro de un edificio con forma de cúpula redondeada',
        class: 'grid-image',
    }