block config
  include _variables
  include _images

doctype html
html(lang="es")
  head
    title= pageTitle
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content= pageDescription)
    meta(name="keywords" content= keywords)
    meta(name="apple-mobile-web-app-title" content="HTML5 UP")
    meta(property="og:site_name" content="HTML5 UP")
    meta(property="og:type" content="article")
    meta(property="og:locale" content="en_US")
    meta(property="og:title" content="Paradigm Shift by HTML5 UP")
    meta(property="og:image" content= pageImage)
    meta(property="og:description" content= pageDescription)
    meta(property="og:url" content="http://html5up.net/paradigm-shift")
    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:site" content= twitterAccount)
    meta(property="twitter:creator" content= twitterAccount)
    link(rel="canonical" href="https://html5up.net/paradigm-shift")
    link(rel="icon" href="https://html5up.net//assets/icons/favicon.ico" type="image/x-icon")
    link(rel="apple-touch-icon-precomposed" href="https://html5up.net/assets/icons/apple-touch-icon-precomposed.png")
    link(rel="stylesheet" href="style.css")
    link(href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet")
    link(rel="shortcut icon" href="https://html5up.net/uploads/demos/paradigm-shift/assets/css/fontawesome-all.min.css")
    
  body
    .container
        block header
        block section1
        block section2
        block section3
        block section4
        block section5
        block section6
        block footer

    script(src="script.js")