- let pageTitle = 'Paradigm Shift | HTML5 UP'
- let pageDescription = 'Say hello to Paradigm Shift, my first addition to HTML5 UP in more than a year (!!!). Took things in a slightly different direction with this one, partly to mess with CSS grid (which this one relies on pretty heavily) but mostly to get back to making weirder and more experimental designs/layouts. Anyway, hope you dig it, and thanks for the continued support despite the lack of updates :)'
- let pageImage = 'https://html5up.net/uploads/cards/paradigm-shift.jpg'
- let twitterAccount = '@ajlkn'
- let keywords = 'html5, css3, responsive, site template, website template'


- 
  let pages = [
    {
      title: "Inicio",
      url: "#"
    },
    {
      title: "Acerca de",
      url: "#"
    },
    {
      title: "Contacto",
      url: "#"
    },
  ]