extends ../config/_template
append config

block header
    header.header
        header.header__wrap-1
            h1.header__title Paradigm shift
            p.header__description A free responsive template designed by @ajlkn / HTML5 up. Developed by León Emil
        .header__wrap-2
            .header__image-container
                img(src= headerImage.src, alt= headerImage.alt, class= headerImage.class)
block section1
    section.section-1
        header.section-1__wrap-1
            h2.section-1__title MAGNA SED NULLAM NISL ADIPISCING
        .section-1__wrap-2
            p.section-1__text Lorem ipsum dolor sit amet consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor amet fermentum. Nullam venenatis erat id vehicula ultrices sed ultricies condimentum. Magna sed etiam consequat, et lorem adipiscing sed nulla. Volutpat nisl et tempus et dolor libero, feugiat magna tempus, sed et lorem adipiscing.
            .section-2__image-container
                img(src= secondImage.src, alt= secondImage.alt, class= secondImage.class)
block section2
    section.section-2
        header.section-2__wrap-1
            h2.section-2__title FEUGIAT CONSEQUAT TEMPUS ULTRICES
        .section-2__wrap-2
            p.section-2__text Etiam tristique libero eu nibh porttitor amet fermentum. Nullam venenatis erat id vehicula ultrices sed ultricies condimentum.
            ul.section-2__list
                li.section-2__list-item Consequat tempus
                li.section-2__list-item Consequat tempus
                li.section-2__list-item Consequat tempus
                li.section-2__list-item Consequat tempus
                li.section-2__list-item Consequat tempus
                li.section-2__list-item Consequat tempus
            p.section-2__text Vehicula ultrices sed ultricies condimentum. Magna sed etiam consequat, et lorem adipiscing sed nulla. Volutpat nisl et tempus et dolor libero, feugiat magna tempus, sed et lorem adipiscing.
block section3
    section.section-3
        header.section-3__wrap-1
            h2.section-3__title ULTRICES ERAT MAGNA SED CONDIMENTUM
        .section-3__wrap-2
            p.section-3__text Integer mollis egestas nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.
            h3.section-3__subtitle ERAT ALIQUAM
            p.section-3__text Vehicula ultrices dolor amet ultricies et condimentum. Magna sed etiam consequat, et lorem adipiscing sed dolor sit amet, consectetur amet do eiusmod tempor incididunt ipsum suspendisse ultrices gravida.
            .section-3__grid
                .section-3__image-container-1
                    img(src= thirdImage.src, alt= thirdImage.alt, class= thirdImage.class)
                .section-3__image-container-2
                    img(src= fourthImage.src, alt= fourthImage.alt, class= fourthImage.class)
                .section-3__image-container-3
                    img(src= fifthImage.src, alt= fifthImage.alt, class= fifthImage.class)
                .section-3__image-container-4
                    img(src= sixthImage.src, alt= sixthImage.alt, class= sixthImage.class)
block section4
    section.section-4
        header.section-4__wrap-1
            h2.section-4__title NISL CONSEQUAT
            p.section-4__text Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam sed facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet mauris. Ut magna finibus nisi nec lacinia ipsum maximus.
        .section-4__wrap-2
            .section-4__grid
                .section-4__image-container-1
                    img(src= seventhImage.src, alt= seventhImage.alt, class= seventhImage.class)
                .section-4__image-container-2
                    img(src= eighthImage.src, alt= eighthImage.alt, class= eighthImage.class)
                .section-4__image-container-3
                    img(src= ninthImage.src, alt= ninthImage.alt, class= ninthImage.class)
block section5
    section.section-5
        header.section-4__wrap-1
            h2.section-5__title LOREM GRAVIDA
            p.section-5__text Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aenean ornare velit lacus, ac varius sed enim lorem ullamcorper dolore. ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis.
        .section-4__wrap-2
            .section-5__grid
                .section-5__image-container-1
                    img(src= tenthImage.src, alt= tenthImage.alt, class= tenthImage.class)
                .section-5__image-container-2
                    img(src= eleventhImage.src, alt= eleventhImage.alt, class= eleventhImage.class)
                .section-5__image-container-3
                    img(src= twelfthImage.src, alt= twelfthImage.alt, class= twelfthImage.class)
block section6
    section.section-6
        header.section-6__wrap-1
            h2.section-6__title DUIS SED ADPISCING VEROEROS AMET
        .wrap-2
            p.section-6__text Proin tempus feugiat sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
            p.section-6__text
            .section-6__buttons-content
                a.section-6__button-1(href="section-6__button-1") Get starter
                a.section-6__button-2(href="section-6__button-2") Learn more
block footer
    footer.footer
        .footer__wrap-1
            h3.section-6__title GET IN TOUCH
        .footer__wrap-2
            p.section-6__text Auctor commodo interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis.
            form.form(action="#")
                
                input.form__name(type="text", name="name" placeholder="Name")

                input.form__mail(type="mail", name="mail" placeholder="Email")

                textarea.form__textarea(name="text" placeholder="Message")
                input.form__submit(type="submit", value= "Send Message")
            .footer__contact-section
                .contact
                    h4 Email
                    a.contact__link(href="#") information@untitled.ext
                    h4 Phone
                    a.contact__link(href="#") (000) 000-0000
                    h4 Address
                    p 1234 Somewhere Road, Nashville, TN 00000
                h4.social-media__title ELSEWHERE
                ul.social-media
                    li.social-media__item
                        a(href="#" class="social-media__link twitter")
                            span.social-media__description Twitter
                    li.social-media__item
                        a(href="#" class="social-media__link facebook")
                            span.social-media__description Facebook
                    li.social-media__item
                        a(href="#" class="social-media__link instagram")
                            span.social-media__description Instagram
                    li.social-media__item
                        a(href="#" class="social-media__link linkedin")
                            span.social-media__description Linkedin
                    li.social-media__item
                        a(href="#" class="social-media__link github")
                            span.social-media__description GitHub
                    li.social-media__item
                        a(href="#" class="social-media__link codepen")
                            span.social-media__description CodePen
            .copyright
                p.copyrigth__text © Untitled. All rights reserved. Design: HTML5 UP. Demo Images: Unsplash.



