@import '../config/variables';
@import '../config/images';
@import "../config/functions";
@import "../config/mixins";
@import "../components/placeholders";

.header__wrap-1,
.section-1__wrap-1,
.section-2__wrap-1,
.section-3__wrap-1,
.section-6__wrap-1,
.footer__wrap-1 {
    // background-image: url(https://i0.wp.com/www.legacy-marketing.com/wp-content/uploads/2018/07/Graphic-Elements-Transparent-Background.png);
    // background-size: cover;
}

.section-6__button-1,
.form__submit {
    @include button($background-color, transparent) {

        &:hover {
            background-color: lighten($background-color, 20%);
        }
    }
}

.section-6__button-2 {
    @include button(none, #ccc) {
        &:hover {
            color: $background-color;
            border-color: $background-color;
        }
    }
}

.form__name,
.form__mail,
.form__textarea {
    border-radius: 7px;
}

.form__submit {
    cursor: pointer;
}

.social-media__item {
    padding: 1em;

    &:hover {
        border-radius: 50%;
        background-color: hsla(0, 0, 50, .2);
    }
}

.social-media__link::before {
    background-size: cover;
    background-repeat: no-repeat;
}

.twitter::before {
    background-image: url($twitter-logo);
}

.facebook::before {
    background-image: url($facebook-logo);
}

.instagram::before {
    background-image: url($instagram-logo);
}

.linkedin::before {
    background-image: url($linkedin-logo);
}

.github::before {
    background-image: url($github-logo);
}

.codepen::before {
    background-image: url($codepen-logo);
}


















