@import '../config/variables';
@import "../config/functions";
@import "../config/mixins";
@import "../components/placeholders";

.header__wrap-1,
.section-1__wrap-1,
.section-2__wrap-1,
.section-3__wrap-1,
.section-6__wrap-1,
.footer__wrap-1 {
    background-color: $background-color;
}

.section-4__wrap-1,
.section-5__wrap-1 {
    @media screen and (min-width: map-get($breakpoints, large)){
        background-color: $background-color;
    }
}

.form__name,
.form__mail,
.form__textarea {
    border-color: $gray;
    border-width: 2px;

    &:focus {
        border-color: $background-color;
    }
}

.contact__link {
    color: #444;
}

.copyright {
    color: $gray;
}