@import "../config/variables";
@import "../config/functions";
@import "../config/mixins";
@import "../components/placeholders";

.header__title {
    font-size: 4.4rem;
    font-weight: 900;
}

.header__description {
    text-transform: uppercase;
    font-weight: bold;
}

.section-2__list {
    list-style: none;
}

.contact__link {
    text-decoration: none;
    border-bottom: dotted 1px;

    &:hover {
        border-bottom: none;
    }
}