/*
  This boilerplate is based in ITCSS and SMACSS
*/
:root {
  --scrollbar: 17px;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", Helvetica, sans-serif;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  box-shadow: none;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

input:focus,
textarea:focus {
  outline: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --scrollbar: 17px;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

:root {
  --scrollbar: 17px;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

.container {
  width: calc(100vw - var(--scrollbar));
}

.header__image-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: calc(100vw - var(--scrollbar));
}

@media screen and (min-width: 992px) {
  .header__image-container {
    width: 50vw;
  }
}

.header__cover {
  width: 900px;
  max-width: fit-content;
}

.header__title {
  margin-top: 0;
  padding-top: 4rem;
  padding-bottom: 0;
}

.header__description {
  margin-bottom: 0;
  padding-bottom: 4rem;
  line-height: 25px;
}

.section-1__wrap-1 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.header__title,
.section-1__title,
.section-2__title,
.section-3__title,
.section-4__title,
.section-5__title,
.section-6__title {
  margin-left: 1rem;
}

.section-2__text,
.section-1__text {
  margin: 1rem;
}

@media screen and (min-width: 992px) {
  .header__wrap-1,
  .section-1__wrap-1,
  .section-2__wrap-1,
  .section-3__wrap-1,
  .section-4__wrap-1,
  .section-5__wrap-1,
  .section-6__wrap-1,
  .footer__wrap-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
  }
}

.section-3__image-container-1,
.section-4__image-container-1,
.section-3__image-container-4,
.section-5__image-container-3 {
  grid-column: span 2;
}

.section-3__grid,
.section-4__grid,
.section-5__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5em;
}

.header__description,
.section-1__text,
.section-2__text,
.section-3__text,
.section-3__subtitle,
.section-4__text,
.section-5__text,
.section-6__text {
  margin: 1rem;
}

.section-3__wrap-2,
.section-4__wrap-2 {
  padding-bottom: 6rem;
}

.section-6__buttons-content {
  padding: 2em;
  display: flex;
  justify-content: space-around;
}

.form__name,
.form__mail,
.form__textarea {
  padding: .7em;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 50px);
  gap: 1rem;
  margin: 1rem;
}

.form__textarea {
  grid-column: span 2;
  grid-row: span 3;
}

.form__submit {
  grid-row: 5;
  width: 170px;
  height: 52px;
  margin-bottom: 3rem;
}

.header,
.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
.footer {
  display: grid;
}

@media screen and (min-width: 992px) {
  .header,
  .section-1,
  .section-2,
  .section-3,
  .section-4,
  .section-5,
  .section-6,
  .footer {
    grid-template-columns: repeat(2, calc(50vw - var(--scrollbar)));
    grid-template-rows: repeat(7, minmax(1fr, max-content));
  }
}

.header__wrap-1 {
  grid-row: span 1;
}

[class*="wrap-1"],
[class*="wrap-2"] {
  width: calc(100vw - var(--scrollbar));
  margin: 0;
}

@media screen and (min-width: 992px) {
  [class*="wrap-1"],
  [class*="wrap-2"] {
    width: calc(50vw - var(--scrollbar));
  }
}

[class*="wrap-2"] {
  width: calc(100% - var(--scrollbar));
  margin-left: 1em;
  margin-right: 1em;
}

.header__wrap-2 {
  margin-left: 0;
  margin-right: 0;
}

.grid-image {
  height: 100%;
}

.footer {
  position: relative;
}

@media screen and (min-width: 992px) {
  .footer {
    height: 150%;
  }
}

.footer__contact-section {
  padding: 1rem;
}

@media screen and (min-width: 992px) {
  .footer__contact-section {
    position: absolute;
    background-color: #43d9b8;
    width: calc(50vw - var(--scrollbar));
    padding-left: 3rem;
    top: 30px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.social-media {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.social-media__item {
  margin-bottom: 3em;
}

.social-media__description {
  display: none;
}

.social-media__link::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
}

.contact {
  margin-bottom: 3rem;
}

.copyright {
  margin: 1rem;
}

:root {
  --scrollbar: 17px;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

:root {
  --scrollbar: 17px;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

:root {
  --scrollbar: 17px;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

:root {
  --scrollbar: 17px;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

.header__title {
  font-size: 4.4rem;
  font-weight: 900;
}

.header__description {
  text-transform: uppercase;
  font-weight: bold;
}

.section-2__list {
  list-style: none;
}

.contact__link {
  text-decoration: none;
  border-bottom: dotted 1px;
}

.contact__link:hover {
  border-bottom: none;
}

:root {
  --scrollbar: 17px;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

:root {
  --scrollbar: 17px;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

.header__wrap-1,
.section-1__wrap-1,
.section-2__wrap-1,
.section-3__wrap-1,
.section-6__wrap-1,
.footer__wrap-1 {
  background-color: #43d9b8;
}

@media screen and (min-width: 992px) {
  .section-4__wrap-1,
  .section-5__wrap-1 {
    background-color: #43d9b8;
  }
}

.form__name,
.form__mail,
.form__textarea {
  border-color: rgba(0, 0, 0, 0.25);
  border-width: 2px;
}

.form__name:focus,
.form__mail:focus,
.form__textarea:focus {
  border-color: #43d9b8;
}

.contact__link {
  color: #444;
}

.copyright {
  color: rgba(0, 0, 0, 0.25);
}

:root {
  --scrollbar: 17px;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

:root {
  --scrollbar: 17px;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

.section-6__button-1,
.form__submit {
  padding: 1.4em 2.9em;
  font-size: .84em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 7px;
  border: 1px solid transparent;
  color: inherit;
  background-color: #43d9b8;
  transition: background-color .5s, color .5s, border-color .5s;
}

.section-6__button-1:hover,
.form__submit:hover {
  background-color: #98ead8;
}

.section-6__button-2 {
  padding: 1.4em 2.9em;
  font-size: .84em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 7px;
  border: 1px solid #ccc;
  color: inherit;
  background-color: none;
  transition: background-color .5s, color .5s, border-color .5s;
}

.section-6__button-2:hover {
  color: #43d9b8;
  border-color: #43d9b8;
}

.form__name,
.form__mail,
.form__textarea {
  border-radius: 7px;
}

.form__submit {
  cursor: pointer;
}

.social-media__item {
  padding: 1em;
}

.social-media__item:hover {
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2);
}

.social-media__link::before {
  background-size: cover;
  background-repeat: no-repeat;
}

.twitter::before {
  background-image: url("https://image.flaticon.com/icons/svg/733/733635.svg");
}

.facebook::before {
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576967385/Starbone/facebook-logo.svg");
}

.instagram::before {
  background-image: url("https://image.flaticon.com/icons/svg/87/87390.svg");
}

.linkedin::before {
  background-image: url("https://image.flaticon.com/icons/svg/25/25325.svg");
}

.github::before {
  background-image: url("https://image.flaticon.com/icons/svg/25/25231.svg");
}

.codepen::before {
  background-image: url("https://image.flaticon.com/icons/svg/2111/2111341.svg");
}

/*# sourceMappingURL=style.css.map */