
$header-image: 'https://html5up.net/uploads/demos/paradigm-shift/images/pic01.jpg';
$second-image: 'https://html5up.net/uploads/demos/paradigm-shift/images/pic02.jpg';
$third-image: 'https://html5up.net/uploads/demos/paradigm-shift/images/gallery/thumbs/01.jpg';
$fourth-image: 'https://html5up.net/uploads/demos/paradigm-shift/images/gallery/thumbs/02.jpg';
$fifth-image: 'https://html5up.net/uploads/demos/paradigm-shift/images/gallery/thumbs/03.jpg';
$sixth-image: 'https://html5up.net/uploads/demos/paradigm-shift/images/gallery/thumbs/04.jpg';
$seventh-image: 'https://html5up.net/uploads/demos/paradigm-shift/images/gallery/thumbs/05.jpg';
$eighth-image: 'https://html5up.net/uploads/demos/paradigm-shift/images/gallery/thumbs/06.jpg';
$ninth-image: 'https://html5up.net/uploads/demos/paradigm-shift/images/gallery/thumbs/07.jpg';
$tenth-image: 'https://html5up.net/uploads/demos/paradigm-shift/images/gallery/thumbs/08.jpg';
$eleventh-image: 'https://html5up.net/uploads/demos/paradigm-shift/images/gallery/thumbs/09.jpg';
$twelfth-image: 'https://html5up.net/uploads/demos/paradigm-shift/images/gallery/thumbs/10.jpg';


$twitter-logo: 'https://image.flaticon.com/icons/svg/733/733635.svg';
$facebook-logo: 'https://res.cloudinary.com/leonemil/image/upload/v1576967385/Starbone/facebook-logo.svg';
$instagram-logo: 'https://image.flaticon.com/icons/svg/87/87390.svg';
$linkedin-logo: 'https://image.flaticon.com/icons/svg/25/25325.svg';
$github-logo: 'https://image.flaticon.com/icons/svg/25/25231.svg';
$codepen-logo: 'https://image.flaticon.com/icons/svg/2111/2111341.svg';


