@mixin get-images($image, $color, $height) {
    position: relative;
    width: 100%;
    height: 220px;
    background-image: url(map-get($image, small));
    background-size: cover;
    background-position: center center;
    
    @media screen and (min-width: map-get($breakpoints, medium)) {
        height: 320px;
        background-image: url(map-get($image, medium));
    }

    @media screen and (min-width: map-get($breakpoints, large)) {
        height: 420px;
        background-image: url(map-get($image, large));
    }

    @media screen and (min-width: map-get($breakpoints, xlarge)) {
        height: $height;
        background-image: url(map-get($image, xlarge));
    }
}

@mixin button($color, $border) {
    padding: 1.4em 2.9em;
    font-size: .84em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid $border;
    color: inherit;
    background-color: $color;
    transition: background-color .5s, color .5s, border-color .5s;

    @content
}
