
$production: false !default;
$path: './public/images';

$font-family: "Raleway", Helvetica, sans-serif;

$breakpoints: (
    small: 300px,
    medium: 600px,
    large: 992px,
    xlarge: 1200px,
);

:root {
    --scrollbar: 17px;

    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

$background-color: #43d9b8;
$gray: rgba(0, 0, 0, 0.25);
